title{

    color: #3deded;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,.Contato{
    
    background-color:#E1EDF2 ;
    
}

.comum{

    border-bottom: dashed black;
}
figure{
text-align: center;
background-color: whitesmoke;
font-family: lightgrey;
}
p{

    text-align: justify;
}